@import "fonts.css"; 

#box {
	background-image:url(../images/white.png); 
	position: relative;
	text-align: left;
	width: 100%;
	height: 100%;
}

p {
	width: 850px;
	font-size: 40px;
	font-family: 'MP_semibold';
	color: #333333;
	line-height: 1.3em;
}

p.head {padding-top: 60px;}

p.folks {margin-top: 40px;}

p.name {
	font-family: "MP_bold";
	font-size: 30px;
	color: #38B6E9;
}

p.title {
	font-family: "MP_semibold";
	margin-top: -8px;
	font-size: 25px;
	color: #333;
}

p.description {
	font-family: "MP_regular";
	font-size: 17px;
	width: 400px;
	color: #999;
	line-height: 1.3em;
	margin-top: -2px;
}

.raffle {
	background-image:url(../images/raffle.png); 
	background-repeat:no-repeat;
	width: 500px;
	height: 300px;
	margin-top: 40px;
}

p.small {
	font-family: "MP_regular";
	width: 300px;
	font-size: 20px;
	color: #333;
	line-height: 2em;
	margin-left: 530px;
	margin-top: -320px;
	margin-bottom: 30px;
}

#bold {
	font-family: "MP_bold";
	color: #38B6E9;
}

.bio {
	padding-top: 30px;
}

#section1 {margin-bottom: 100px;}
